* {

}

body{
    font-family: "Oswald", serif;
    background-image: url("https://image.freepik.com/free-vector/abstract-background-with-a-3d-pattern_1319-68.jpg");

}

h1 {
  font-family: "Montserrat", serif;
  font-size: 50px;
  padding: 20px;
  margin: 0;
  position: relative;
  text-align: center;
  background-color:  #b3b3b3;
  color: #333;


}

.container{
  background-color: white;
  margin: auto;
  width: 100%;
  position: relative;
  display: inline-block;

}

.right {
  right: 0px;



}

.left {
  left: 0px;



}

.center {
  margin: auto;
  width: 33%;

}

.right p {
  margin: 0;
  width: 33%;



}

.left p {
  margin: 0;
  width: 33%;

}

.center img {
  margin: auto;
  position: absolute;


}

.left img{
  display: inline-block;
  margin: auto;
  width: 33%;
  position: absolute;


}

.right img {
  margin: auto;
  position: absolute;
  right: 0px;
  width: 33%;


}

.container p {
  margin: 0;
  text-align: left;
  display: inline-block;
  float: left;

}

.container img {
  margin: 0;
  display: inline-block;
  float: left;

}


p {
  font-family: "Oswald", serif;
  font-size: 20px;
  color: #333;

}

.navigation {
  height: auto;
  text-align: center;
  z-index:: 999;
  padding: 0;
  margin: 5px 0px 5px 0px;


}

.navigation ul {
  padding: 20px 20px;
  background-color:  #b3b3b3;
  overflow: hidden;
  margin: 0;

}

.navigation li {
  display: inline;
  float: none;

}

.navigation li a {
  font-family: "Oswald";
  position: relative;
  font size: 18px;
  padding: 20px 20px;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;

}

.navigation li a:hover {
  background-color: #333;
  color: white;

}

footer {
  position: relative;
  background-color: #b3b3b3;
  width: 100%;
  min-height: 50px;
  margin: 5px 0px 5px 0px;
  display: inline-block;

}


img {
  display: inline-block;
  position: relative;


}

footer p {
  font-size: 15px;
  font-style: "Oswald", serif;
  text-align: left;
  margin-left: 10px;

}
